<div class="score-component">
    <div>
        <p class="score-component-title">Quiz completed</p>
        <p class="score-component-subtitle">You scored...</p>
    </div>
    <div class="score-card">
        <div class="score-card-title">
            <div class="header-icon-background" data-quiz-title="HTML">
                <img src="./assets/images/icon-html.svg" alt="">
            </div>
            <p>HTML</p>
        </div>
        <p class="score">8</p>
        <p class="score-out-of">out of 10</p>
    </div>

    <button routerLink="/" routerLinkActive="active">Play Again</button>
</div>
