@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --clr-primary: hsl(25, 97%, 53%);
    --clr-lighter: hsl(0, 0%, 100%);
    --clr-light: hsl(217, 12%, 63%);
    --clr-medium: hsl(216, 12%, 54%);
    --clr-dark: hsl(213, 19%, 18%);
    --clr-darker: hsl(216, 12%, 8%);

    --fs-regular: 0.9375rem;
    --fw-regular: 400;

    --width-mobile: 23.4375rem;
    --width-desktop: 90rem;
}
body{
    min-height: 100svh;/*fallback if svh is not supported*/
    min-height: 100vh;
    
    font-size: var(--fs-regular);
    font-family: 'Overpass', sans-serif;
    font-weight: var(--fw-regular);
    color: var(--clr-medium);

    background-color: var(--clr-darker);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--clr-lighter);
}

.container{
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);

    width: 412px;
    height: 416px;

    border-radius: 30px;

    padding: 2rem;
}

.oval{
    background-color: var(--clr-dark);
    border-radius: 50%;
    width: 46px;
    height: 46px;

    display: flex;
    align-items: center;
    justify-content: center;
}