<header>
  <div class="current-quiz-title">
      <div class="header-icon-background" [attr.data-quiz-title]="currentQuizTitle">
        <img class="header-icon" src="./assets/images/icon-html.svg" alt="">
      </div>
      <h1>{{currentQuizTitle}}</h1>
  </div>
  <div class="dark-light-switch">
    <span class="icon-sun"></span>
    <label class="toggle">
      <span class="slider">
        <input #theme id="theme" type="checkbox" [(ngModel)]="darkMode" (change)="onLightDarkChange()">
      </span>
    </label>
    <span class="icon-moon"></span>
  </div>
</header>

<router-outlet />