.question-component{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    row-gap: 2rem;
    column-gap: 8rem;
}

.question-index-and-text{
    grid-column: 1/1;
    grid-row: 1/1;
}

h2{
    font-size: var(--fs-000);
    font-family: var(--ff-italic);
    line-height: 150%;
    font-weight: var(--fw-regular);
    color: var(--body-s-color);
}

.question{
    font-size: var(--fs-200);;
    font-weight: var(--fw-medium);
    line-height: 120%;
}

.progressbar{
    height: 1rem;
    background-color: var(--clr-progressbar);
    border-radius: 0.5rem;
    padding: 0.25rem;

    grid-column: 1/1;
    grid-row: 2/2;
}
.progressbar-inner{
    height: 0.5rem;
    background-color: var(--clr-primary-000);
    border-radius: 0.25rem;
    width: 60%;
}

.responses{
    padding-inline-start: 0;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    grid-column: 2/2;
    grid-row: 1/1;

    counter-reset: response-item-counter;
}

.response-item {
    height: 5.75rem;
    border-radius: 1.5rem;

    cursor: pointer;

    padding: 1.25rem;
    background-color:  var(--menu-item-background-color);
    display: flex;
    align-items: center;
    gap: 2rem;

    counter-increment: response-item-counter;
}

.response-item[data-selected-item='true'],.response-item[data-wrong-response='true'],.response-item[data-correct-response='true']{
    cursor: unset;
}

.response-item[data-selected-item='true']{
    border: 3px solid var(--clr-primary-000);
}

.response-item::before {
    content: counter(response-item-counter, upper-alpha);

    background-color: var(--clr-neutral-100);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;

    font-size: var(--fs-100);
    font-weight: var(--fw-medium);
    color: var(--clr-primary-400);

    display: flex;
    align-items: center;
    justify-content: center;
}

.response-item[data-selected-item='true']::before {
    background-color: var(--clr-primary-000);
    color: var(--clr-neutral-200);
}

.response-item:not([data-selected-item='true']):not([data-correct-response='true']):hover::before {
    background-color: hsl(278, 100%, 95%);
    color: var(--clr-primary-000);
}

.response-item[data-wrong-response='true']{
    border: 3px solid red;
}

.response-item[data-correct-response='true'][data-selected-item='true']{
    border: 3px solid #26D782;
}

.response-item[data-correct-response='true'][data-selected-item='true']::before{
    background-color: #26D782;
}

.response-item::after{
    margin-left: auto;
}

.response-item[data-wrong-response='true']::after,
.response-item[data-correct-response='true']::after{
    content: '';
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.response-item[data-wrong-response='true']::after{
    background-image: url(/assets/images/icon-error.svg);
}

.response-item[data-correct-response='true']::after{
    background-image: url(/assets/images/icon-correct.svg);
}

.response-item[data-wrong-response='true']::before{
    background-color: red;
    color: var(--clr-neutral-200);
}

.response-item:not([data-selected-item='true'])[data-wrong-response='true']:hover::before{
    background-color: red;
    color: var(--clr-neutral-200);
}

.response{
    font-size: var(--fs-100);
}

button{
    grid-column: 2/2;
    grid-row: 2/2;
}


.error-message{
    color: var(--clr-error);
    font-weight: var(--fw-regular);
    font-size: var(--fs-150);

    grid-column: 2/2;
    grid-row: 3/3;
    justify-self: center;

    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.error-message::before{
    content: '';
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-image: url(/assets/images/icon-error.svg);
}
