
<div class="question-component">

    <div class="question-index-and-text">
        <h2>Question 6 of 10</h2>
        <p class="question">Which of these color constrast ratios defines the minimum WCAG 2.1 Level AA requirement for normal text?</p>
    </div>
    
    <div class="progressbar">
        <div class="progressbar-inner"></div>
    </div>
    <ol class="responses" type="A">
        <li class="response-item" data-selected-item="true">
            <p class="response">4.5:1</p>
        </li>
        <li class="response-item" data-wrong-response="true">
            <p class="response">3:1</p>
        </li>
        <li class="response-item" data-correct-response="true">
            <p class="response">2.5:1</p>
        </li>
        <li class="response-item" data-correct-response="true" data-selected-item="true">
            <p class="response">5:1</p>
        </li>
    </ol>
    <button>Submit Answer</button>
    <p class="error-message" >Please select an answer</p>
</div>
