.question-component{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 2rem;
    column-gap: 8rem;
}

.question-index-and-text{
    grid-column: 1/1;
    grid-row: 1/1;
}

h2{
    font-size: var(--fs-000);
    font-family: var(--ff-italic);
    line-height: 150%;
    font-weight: var(--fw-regular);
    color: var(--body-s-color);
}

.question{
    font-size: var(--fs-200);;
    font-weight: var(--fw-medium);
    line-height: 120%;
}

.progressbar{
    height: 1rem;
    background-color: var(--clr-neutral-200);
    border-radius: 0.5rem;
    padding: 0.25rem;

    grid-column: 1/1;
    grid-row: 2/2;
}
.progressbar-inner{
    height: 0.5rem;
    background-color: var(--clr-primary-000);
    border-radius: 0.25rem;
    width: 60%;
}

.responses{
    padding-inline-start: 0;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    grid-column: 2/2;
    grid-row: 1/1;

    counter-reset: response-item-counter;
}

.response-item, 
button{
    height: 5.75rem;
    border-radius: 1.5rem;
}

.response-item{
    padding: 1.25rem;
    background-color:  var(--menu-item-background-color);
    display: flex;
    align-items: center;
    gap: 2rem;

    counter-increment: response-item-counter;
}

.response-item::before {
    content: counter(response-item-counter, upper-alpha);

    background-color: var(--clr-neutral-100);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;

    font-size: var(--fs-100);
    font-weight: var(--fw-medium);
    color: var(--clr-primary-400);

    display: flex;
    align-items: center;
    justify-content: center;
  }

button{
    border: unset;
    background-color: var(--clr-primary-000);
    color: var(--clr-neutral-200);
    font-size: var(--fs-100);
    font-weight: var(--fw-medium);

    grid-column: 2/2;
    grid-row: 2/2;
}
.response{
    font-size: var(--fs-100);
}
